.bannerText{
    color: var(--color-terciario);
    background-color: #000;
    padding: 16px;
    font-size: 50px;
}


.title1{
    animation: title1 2s infinite ease-in;
}
.title2{
    animation: title2 2s infinite ease-in;
}
.title3{
    animation: title3 2s infinite ease-in;
}

@keyframes title1{
    0%{}
    25%{
        text-shadow: 8px 8px 0px var(--color-sombra-primario), -8px -8px 0px var(--color-sombra-secundario);
    }
    100%{}
}
@keyframes title2{
    0%{}
    50%{
        text-shadow: 8px 8px 0px var(--color-sombra-primario), -8px -8px 0px var(--color-sombra-secundario);
    }
    100%{}
}
@keyframes title3{
    0%{}
    75%{
        text-shadow: 8px 8px 0px var(--color-sombra-primario), -8px -8px 0px var(--color-sombra-secundario);
    }
    100%{}
}

/* Consulta de medios para dispositivos móviles */
@media (max-width: 768px) {
    .bannerText{
        text-align: center;
        padding: 4px;
    }
    @keyframes title1{
        0%{}
        25%{
            text-shadow: 4px 4px 0px var(--color-sombra-primario), -4px -4px 0px var(--color-sombra-secundario);
        }
        100%{}
    }
    @keyframes title2{
        0%{}
        50%{
            text-shadow: 4px 4px 0px var(--color-sombra-primario), -4px -4px 0px var(--color-sombra-secundario);
        }
        100%{}
    }
    @keyframes title3{
        0%{}
        75%{
            text-shadow: 4px 4px 0px var(--color-sombra-primario), -4px -4px 0px var(--color-sombra-secundario);
        }
        100%{}
    }
    
}



