footer{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    font-weight: 800;
}

footer i{
    font-size: 30px;
    padding: 10px;
    transition: all 300m s;
}

footer nav.navSocial i:hover{
    color: var(--color-terciario);
    text-shadow: 2px 2px 2px var(--color-primario);
}