header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: var(--color-primario);
}

header img.imagenLogoHeader{
    width: 50px;
}

header .navbar{
    display: flex;
    gap: 50px;
    font-weight: 800;
}

.navbar a{
    transition: all 100ms; 
}

.navbar a:hover{
    color: var(--color-secundario);
    padding-bottom: 2px;
    position: relative;
    bottom: 2px;
    padding: 10px 20px;
    font-size: 35px;
    text-shadow: 2px 2px 2px var(--color-terciario);
}

.menu{
    display: none;
}

@media (max-width: 700px){
    header .navbar{
        display: none;
    }
    .menu{
        display: inline;
    }
}  
